@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Copying and distribution of this application, with or without modification, are permitted in any medium without royalty. This application is offered as-is, without any warranty.</p>
